Build started...
Build succeeded.
CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [Username] nvarchar(50) NOT NULL,
    [Email] nvarchar(256) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [EmailConfirmed] bit NOT NULL,
    [EmailConfirmationToken] nvarchar(255) NOT NULL,
    [EmailConfirmationTokenExpires] datetime2 NULL,
    [RefreshToken] nvarchar(500) NOT NULL,
    [RefreshTokenExpiryTime] datetime2 NULL,
    [DisplayName] nvarchar(100) NOT NULL,
    [Bio] nvarchar(500) NOT NULL,
    [ProfileImageUrl] nvarchar(500) NOT NULL,
    [ProfilePictureUrl] nvarchar(500) NOT NULL,
    [CoverImageUrl] nvarchar(500) NOT NULL,
    [CoverPhotoUrl] nvarchar(500) NOT NULL,
    [DateOfBirth] datetime2 NULL,
    [Location] nvarchar(100) NOT NULL,
    [WebsiteUrl] nvarchar(200) NOT NULL,
    [InstagramUsername] nvarchar(50) NOT NULL,
    [TwitterUsername] nvarchar(50) NOT NULL,
    [TikTokUsername] nvarchar(50) NOT NULL,
    [YouTubeUrl] nvarchar(200) NOT NULL,
    [IsCreator] bit NOT NULL,
    [IsVerified] bit NOT NULL,
    [SubscriptionPrice] decimal(18,2) NULL,
    [MessagePrice] decimal(18,2) NULL,
    [Currency] nvarchar(3) NOT NULL DEFAULT N'USD',
    [WelcomeMessage] nvarchar(1000) NOT NULL,
    [WelcomeMessageDiscount] decimal(5,2) NULL,
    [FollowersCount] int NOT NULL,
    [FollowingCount] int NOT NULL,
    [PostsCount] int NOT NULL,
    [LikesCount] int NOT NULL,
    [TotalLikesReceived] int NOT NULL,
    [ProfileViewsCount] int NOT NULL,
    [ShowActivityStatus] bit NOT NULL,
    [AllowMessages] bit NOT NULL,
    [ShowSubscriberCount] bit NOT NULL,
    [ShowMediaInProfile] bit NOT NULL,
    [ShowPostCount] bit NOT NULL,
    [EmailNotifications] bit NOT NULL,
    [PushNotifications] bit NOT NULL,
    [PushNotificationToken] nvarchar(500) NOT NULL,
    [IsActive] bit NOT NULL,
    [IsSuspended] bit NOT NULL,
    [SuspendedUntil] datetime2 NULL,
    [SuspensionReason] nvarchar(500) NOT NULL,
    [LastLoginAt] datetime2 NULL,
    [LastLoginIp] nvarchar(45) NOT NULL,
    [PasswordResetToken] nvarchar(255) NOT NULL,
    [PasswordResetTokenExpires] datetime2 NULL,
    [TwoFactorEnabled] bit NOT NULL,
    [TwoFactorSecret] nvarchar(255) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id])
);
GO


CREATE TABLE [Messages] (
    [Id] uniqueidentifier NOT NULL,
    [SenderId] uniqueidentifier NOT NULL,
    [RecipientId] uniqueidentifier NOT NULL,
    [Content] nvarchar(1000) NOT NULL,
    [IsRead] bit NOT NULL,
    [ReadAt] datetime2 NULL,
    [Price] decimal(18,2) NULL,
    [IsPaid] bit NOT NULL,
    [PaidAt] datetime2 NULL,
    [DeletedBySender] bit NOT NULL,
    [DeletedByRecipient] bit NOT NULL,
    [ReplyToMessageId] uniqueidentifier NULL,
    [IsTipMessage] bit NOT NULL,
    [TipAmount] decimal(18,2) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Messages] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Messages_Messages_ReplyToMessageId] FOREIGN KEY ([ReplyToMessageId]) REFERENCES [Messages] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Messages_Users_RecipientId] FOREIGN KEY ([RecipientId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Messages_Users_SenderId] FOREIGN KEY ([SenderId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Posts] (
    [Id] uniqueidentifier NOT NULL,
    [CreatorId] uniqueidentifier NOT NULL,
    [Caption] nvarchar(2000) NOT NULL,
    [Type] nvarchar(450) NOT NULL,
    [Visibility] nvarchar(450) NOT NULL,
    [Price] decimal(18,2) NULL,
    [IsArchived] bit NOT NULL,
    [CommentsEnabled] bit NOT NULL,
    [IsPinned] bit NOT NULL,
    [ScheduledAt] datetime2 NULL,
    [LikesCount] int NOT NULL,
    [CommentsCount] int NOT NULL,
    [ViewsCount] int NOT NULL,
    [SharesCount] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Posts] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Posts_Users_CreatorId] FOREIGN KEY ([CreatorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Subscriptions] (
    [Id] uniqueidentifier NOT NULL,
    [SubscriberId] uniqueidentifier NOT NULL,
    [CreatorId] uniqueidentifier NOT NULL,
    [StartDate] datetime2 NOT NULL,
    [EndDate] datetime2 NULL,
    [NextBillingDate] datetime2 NULL,
    [IsActive] bit NOT NULL,
    [AutoRenew] bit NOT NULL,
    [PriceAtSubscription] decimal(18,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL DEFAULT N'USD',
    [DiscountPercentage] decimal(5,2) NULL,
    [FreeDays] int NULL,
    [CancellationReason] nvarchar(500) NOT NULL,
    [CancelledAt] datetime2 NULL,
    [CreatorNotified] bit NOT NULL,
    [SubscriberNotified] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Subscriptions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Subscriptions_Users_CreatorId] FOREIGN KEY ([CreatorId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Subscriptions_Users_SubscriberId] FOREIGN KEY ([SubscriberId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Wallets] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [Balance] decimal(18,2) NOT NULL,
    [PendingBalance] decimal(18,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL DEFAULT N'USD',
    [LastWithdrawalAt] datetime2 NULL,
    [TotalEarned] decimal(18,2) NOT NULL,
    [TotalWithdrawn] decimal(18,2) NOT NULL,
    [TotalTipsReceived] decimal(18,2) NOT NULL,
    [TotalSubscriptionsEarned] decimal(18,2) NOT NULL,
    [TotalPPVEarned] decimal(18,2) NOT NULL,
    [MinimumWithdrawalAmount] decimal(18,2) NOT NULL DEFAULT 20.0,
    [BankAccountInfo] nvarchar(max) NOT NULL,
    [PayPalEmail] nvarchar(256) NOT NULL,
    [StripeAccountId] nvarchar(max) NOT NULL,
    [IsPayoutAccountVerified] bit NOT NULL,
    [PayoutAccountVerifiedAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Wallets] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Wallets_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [Comments] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [PostId] uniqueidentifier NOT NULL,
    [Content] nvarchar(500) NOT NULL,
    [ParentCommentId] uniqueidentifier NULL,
    [LikesCount] int NOT NULL,
    [RepliesCount] int NOT NULL,
    [IsEdited] bit NOT NULL,
    [EditedAt] datetime2 NULL,
    [IsPinned] bit NOT NULL,
    [IsHidden] bit NOT NULL,
    [HiddenReason] nvarchar(200) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Comments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Comments_Comments_ParentCommentId] FOREIGN KEY ([ParentCommentId]) REFERENCES [Comments] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Comments_Posts_PostId] FOREIGN KEY ([PostId]) REFERENCES [Posts] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Comments_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Likes] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [PostId] uniqueidentifier NOT NULL,
    [CreatorNotified] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Likes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Likes_Posts_PostId] FOREIGN KEY ([PostId]) REFERENCES [Posts] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_Likes_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [MediaFiles] (
    [Id] uniqueidentifier NOT NULL,
    [PostId] uniqueidentifier NULL,
    [MessageId] uniqueidentifier NULL,
    [FileUrl] nvarchar(500) NOT NULL,
    [ThumbnailUrl] nvarchar(500) NOT NULL,
    [BlurredUrl] nvarchar(500) NOT NULL,
    [Type] nvarchar(max) NOT NULL,
    [FileName] nvarchar(255) NOT NULL,
    [MimeType] nvarchar(100) NOT NULL,
    [FileSize] bigint NOT NULL,
    [Duration] int NULL,
    [Width] int NULL,
    [Height] int NULL,
    [OrderIndex] int NOT NULL,
    [IsProcessed] bit NOT NULL,
    [Order] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_MediaFiles] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_MediaFiles_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_MediaFiles_Posts_PostId] FOREIGN KEY ([PostId]) REFERENCES [Posts] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [Tips] (
    [Id] uniqueidentifier NOT NULL,
    [SenderId] uniqueidentifier NOT NULL,
    [RecipientId] uniqueidentifier NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL DEFAULT N'USD',
    [Message] nvarchar(200) NOT NULL,
    [PostId] uniqueidentifier NULL,
    [MessageId] uniqueidentifier NULL,
    [LiveStreamId] uniqueidentifier NULL,
    [IsAnonymous] bit NOT NULL,
    [RecipientNotified] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Tips] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Tips_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]),
    CONSTRAINT [FK_Tips_Posts_PostId] FOREIGN KEY ([PostId]) REFERENCES [Posts] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Tips_Users_RecipientId] FOREIGN KEY ([RecipientId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Tips_Users_SenderId] FOREIGN KEY ([SenderId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Withdrawals] (
    [Id] uniqueidentifier NOT NULL,
    [WalletId] uniqueidentifier NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL DEFAULT N'USD',
    [Status] nvarchar(450) NOT NULL,
    [Method] nvarchar(max) NOT NULL,
    [TransactionReference] nvarchar(255) NOT NULL,
    [ProcessedAt] datetime2 NULL,
    [CompletedAt] datetime2 NULL,
    [RejectedAt] datetime2 NULL,
    [RejectionReason] nvarchar(500) NOT NULL,
    [Fee] decimal(18,2) NOT NULL,
    [NetAmount] decimal(18,2) NOT NULL,
    [AccountDetails] nvarchar(max) NOT NULL,
    [Notes] nvarchar(500) NOT NULL,
    [ProcessedByUserId] uniqueidentifier NULL,
    [EstimatedArrivalDays] int NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Withdrawals] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Withdrawals_Users_ProcessedByUserId] FOREIGN KEY ([ProcessedByUserId]) REFERENCES [Users] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Withdrawals_Wallets_WalletId] FOREIGN KEY ([WalletId]) REFERENCES [Wallets] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Reports] (
    [Id] uniqueidentifier NOT NULL,
    [ReporterId] uniqueidentifier NOT NULL,
    [Type] nvarchar(450) NOT NULL,
    [Reason] nvarchar(max) NOT NULL,
    [Description] nvarchar(1000) NOT NULL,
    [Status] nvarchar(450) NOT NULL,
    [Priority] nvarchar(450) NOT NULL,
    [ReportedUserId] uniqueidentifier NULL,
    [ReportedPostId] uniqueidentifier NULL,
    [ReportedCommentId] uniqueidentifier NULL,
    [ReportedMessageId] uniqueidentifier NULL,
    [ReviewedByUserId] uniqueidentifier NULL,
    [ReviewedAt] datetime2 NULL,
    [ModeratorNotes] nvarchar(1000) NOT NULL,
    [ActionTaken] nvarchar(200) NOT NULL,
    [ResolvedAt] datetime2 NULL,
    [EvidenceUrls] nvarchar(max) NOT NULL,
    [ReporterNotified] bit NOT NULL,
    [ReportedUserNotified] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Reports] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Reports_Comments_ReportedCommentId] FOREIGN KEY ([ReportedCommentId]) REFERENCES [Comments] ([Id]),
    CONSTRAINT [FK_Reports_Messages_ReportedMessageId] FOREIGN KEY ([ReportedMessageId]) REFERENCES [Messages] ([Id]),
    CONSTRAINT [FK_Reports_Posts_ReportedPostId] FOREIGN KEY ([ReportedPostId]) REFERENCES [Posts] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Reports_Users_ReportedUserId] FOREIGN KEY ([ReportedUserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Reports_Users_ReporterId] FOREIGN KEY ([ReporterId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Reports_Users_ReviewedByUserId] FOREIGN KEY ([ReviewedByUserId]) REFERENCES [Users] ([Id]) ON DELETE SET NULL
);
GO


CREATE TABLE [Notifications] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [Type] nvarchar(450) NOT NULL,
    [Title] nvarchar(200) NOT NULL,
    [Message] nvarchar(500) NOT NULL,
    [ActionUrl] nvarchar(500) NOT NULL,
    [ImageUrl] nvarchar(500) NOT NULL,
    [IsRead] bit NOT NULL,
    [ReadAt] datetime2 NULL,
    [EmailSent] bit NOT NULL,
    [EmailSentAt] datetime2 NULL,
    [PushSent] bit NOT NULL,
    [PushSentAt] datetime2 NULL,
    [RelatedUserId] uniqueidentifier NULL,
    [RelatedPostId] uniqueidentifier NULL,
    [RelatedCommentId] uniqueidentifier NULL,
    [RelatedMessageId] uniqueidentifier NULL,
    [RelatedSubscriptionId] uniqueidentifier NULL,
    [RelatedTipId] uniqueidentifier NULL,
    [MetadataJson] nvarchar(max) NOT NULL,
    [Priority] nvarchar(max) NOT NULL,
    [ExpiresAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Notifications] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Notifications_Comments_RelatedCommentId] FOREIGN KEY ([RelatedCommentId]) REFERENCES [Comments] ([Id]),
    CONSTRAINT [FK_Notifications_Messages_RelatedMessageId] FOREIGN KEY ([RelatedMessageId]) REFERENCES [Messages] ([Id]),
    CONSTRAINT [FK_Notifications_Posts_RelatedPostId] FOREIGN KEY ([RelatedPostId]) REFERENCES [Posts] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Notifications_Subscriptions_RelatedSubscriptionId] FOREIGN KEY ([RelatedSubscriptionId]) REFERENCES [Subscriptions] ([Id]),
    CONSTRAINT [FK_Notifications_Tips_RelatedTipId] FOREIGN KEY ([RelatedTipId]) REFERENCES [Tips] ([Id]),
    CONSTRAINT [FK_Notifications_Users_RelatedUserId] FOREIGN KEY ([RelatedUserId]) REFERENCES [Users] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [Transactions] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [Type] nvarchar(450) NOT NULL,
    [Status] nvarchar(450) NOT NULL,
    [Amount] decimal(18,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL,
    [Fee] decimal(18,2) NULL,
    [NetAmount] decimal(18,2) NOT NULL,
    [Description] nvarchar(500) NOT NULL,
    [ExternalTransactionId] nvarchar(255) NOT NULL,
    [PaymentMethod] nvarchar(50) NOT NULL,
    [CardLast4] nvarchar(4) NOT NULL,
    [IpAddress] nvarchar(45) NOT NULL,
    [CountryCode] nvarchar(2) NOT NULL,
    [SubscriptionId] uniqueidentifier NULL,
    [PostId] uniqueidentifier NULL,
    [MessageId] uniqueidentifier NULL,
    [TipId] uniqueidentifier NULL,
    [WithdrawalId] uniqueidentifier NULL,
    [ProcessedAt] datetime2 NULL,
    [FailedAt] datetime2 NULL,
    [FailureReason] nvarchar(500) NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_Transactions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Transactions_Messages_MessageId] FOREIGN KEY ([MessageId]) REFERENCES [Messages] ([Id]),
    CONSTRAINT [FK_Transactions_Posts_PostId] FOREIGN KEY ([PostId]) REFERENCES [Posts] ([Id]),
    CONSTRAINT [FK_Transactions_Subscriptions_SubscriptionId] FOREIGN KEY ([SubscriptionId]) REFERENCES [Subscriptions] ([Id]) ON DELETE SET NULL,
    CONSTRAINT [FK_Transactions_Tips_TipId] FOREIGN KEY ([TipId]) REFERENCES [Tips] ([Id]),
    CONSTRAINT [FK_Transactions_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_Transactions_Withdrawals_WithdrawalId] FOREIGN KEY ([WithdrawalId]) REFERENCES [Withdrawals] ([Id])
);
GO


CREATE TABLE [PostPurchases] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [PostId] uniqueidentifier NOT NULL,
    [PricePaid] decimal(18,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL DEFAULT N'USD',
    [TransactionId] uniqueidentifier NULL,
    [AccessExpiresAt] datetime2 NULL,
    [ViewCount] int NOT NULL,
    [LastViewedAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NOT NULL,
    [IsDeleted] bit NOT NULL,
    CONSTRAINT [PK_PostPurchases] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_PostPurchases_Posts_PostId] FOREIGN KEY ([PostId]) REFERENCES [Posts] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_PostPurchases_Transactions_TransactionId] FOREIGN KEY ([TransactionId]) REFERENCES [Transactions] ([Id]),
    CONSTRAINT [FK_PostPurchases_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE INDEX [IX_Comments_CreatedAt] ON [Comments] ([CreatedAt]);
GO


CREATE INDEX [IX_Comments_IsHidden] ON [Comments] ([IsHidden]);
GO


CREATE INDEX [IX_Comments_ParentCommentId] ON [Comments] ([ParentCommentId]);
GO


CREATE INDEX [IX_Comments_PostId] ON [Comments] ([PostId]);
GO


CREATE INDEX [IX_Comments_UserId] ON [Comments] ([UserId]);
GO


CREATE INDEX [IX_Likes_CreatedAt] ON [Likes] ([CreatedAt]);
GO


CREATE INDEX [IX_Likes_PostId] ON [Likes] ([PostId]);
GO


CREATE UNIQUE INDEX [IX_Likes_UserId_PostId] ON [Likes] ([UserId], [PostId]);
GO


CREATE INDEX [IX_MediaFiles_MessageId] ON [MediaFiles] ([MessageId]);
GO


CREATE INDEX [IX_MediaFiles_PostId] ON [MediaFiles] ([PostId]);
GO


CREATE INDEX [IX_Messages_CreatedAt] ON [Messages] ([CreatedAt]);
GO


CREATE INDEX [IX_Messages_IsRead] ON [Messages] ([IsRead]);
GO


CREATE INDEX [IX_Messages_RecipientId] ON [Messages] ([RecipientId]);
GO


CREATE INDEX [IX_Messages_ReplyToMessageId] ON [Messages] ([ReplyToMessageId]);
GO


CREATE INDEX [IX_Messages_SenderId_RecipientId] ON [Messages] ([SenderId], [RecipientId]);
GO


CREATE INDEX [IX_Notifications_CreatedAt] ON [Notifications] ([CreatedAt]);
GO


CREATE INDEX [IX_Notifications_IsRead] ON [Notifications] ([IsRead]);
GO


CREATE INDEX [IX_Notifications_RelatedCommentId] ON [Notifications] ([RelatedCommentId]);
GO


CREATE INDEX [IX_Notifications_RelatedMessageId] ON [Notifications] ([RelatedMessageId]);
GO


CREATE INDEX [IX_Notifications_RelatedPostId] ON [Notifications] ([RelatedPostId]);
GO


CREATE INDEX [IX_Notifications_RelatedSubscriptionId] ON [Notifications] ([RelatedSubscriptionId]);
GO


CREATE INDEX [IX_Notifications_RelatedTipId] ON [Notifications] ([RelatedTipId]);
GO


CREATE INDEX [IX_Notifications_RelatedUserId] ON [Notifications] ([RelatedUserId]);
GO


CREATE INDEX [IX_Notifications_Type] ON [Notifications] ([Type]);
GO


CREATE INDEX [IX_Notifications_UserId] ON [Notifications] ([UserId]);
GO


CREATE INDEX [IX_PostPurchases_CreatedAt] ON [PostPurchases] ([CreatedAt]);
GO


CREATE INDEX [IX_PostPurchases_PostId] ON [PostPurchases] ([PostId]);
GO


CREATE INDEX [IX_PostPurchases_TransactionId] ON [PostPurchases] ([TransactionId]);
GO


CREATE UNIQUE INDEX [IX_PostPurchases_UserId_PostId] ON [PostPurchases] ([UserId], [PostId]);
GO


CREATE INDEX [IX_Posts_CreatedAt] ON [Posts] ([CreatedAt]);
GO


CREATE INDEX [IX_Posts_CreatorId] ON [Posts] ([CreatorId]);
GO


CREATE INDEX [IX_Posts_CreatorId_Type] ON [Posts] ([CreatorId], [Type]);
GO


CREATE INDEX [IX_Posts_IsArchived] ON [Posts] ([IsArchived]);
GO


CREATE INDEX [IX_Posts_Visibility] ON [Posts] ([Visibility]);
GO


CREATE INDEX [IX_Reports_CreatedAt] ON [Reports] ([CreatedAt]);
GO


CREATE INDEX [IX_Reports_Priority] ON [Reports] ([Priority]);
GO


CREATE INDEX [IX_Reports_ReportedCommentId] ON [Reports] ([ReportedCommentId]);
GO


CREATE INDEX [IX_Reports_ReportedMessageId] ON [Reports] ([ReportedMessageId]);
GO


CREATE INDEX [IX_Reports_ReportedPostId] ON [Reports] ([ReportedPostId]);
GO


CREATE INDEX [IX_Reports_ReportedUserId] ON [Reports] ([ReportedUserId]);
GO


CREATE INDEX [IX_Reports_ReporterId] ON [Reports] ([ReporterId]);
GO


CREATE INDEX [IX_Reports_ReviewedByUserId] ON [Reports] ([ReviewedByUserId]);
GO


CREATE INDEX [IX_Reports_Status] ON [Reports] ([Status]);
GO


CREATE INDEX [IX_Reports_Type] ON [Reports] ([Type]);
GO


CREATE INDEX [IX_Subscriptions_CreatorId] ON [Subscriptions] ([CreatorId]);
GO


CREATE INDEX [IX_Subscriptions_EndDate] ON [Subscriptions] ([EndDate]);
GO


CREATE INDEX [IX_Subscriptions_IsActive] ON [Subscriptions] ([IsActive]);
GO


CREATE INDEX [IX_Subscriptions_NextBillingDate] ON [Subscriptions] ([NextBillingDate]);
GO


CREATE UNIQUE INDEX [IX_Subscriptions_SubscriberId_CreatorId] ON [Subscriptions] ([SubscriberId], [CreatorId]);
GO


CREATE INDEX [IX_Tips_CreatedAt] ON [Tips] ([CreatedAt]);
GO


CREATE INDEX [IX_Tips_MessageId] ON [Tips] ([MessageId]);
GO


CREATE INDEX [IX_Tips_PostId] ON [Tips] ([PostId]);
GO


CREATE INDEX [IX_Tips_RecipientId] ON [Tips] ([RecipientId]);
GO


CREATE INDEX [IX_Tips_SenderId_RecipientId] ON [Tips] ([SenderId], [RecipientId]);
GO


CREATE INDEX [IX_Transactions_CreatedAt] ON [Transactions] ([CreatedAt]);
GO


CREATE INDEX [IX_Transactions_ExternalTransactionId] ON [Transactions] ([ExternalTransactionId]);
GO


CREATE INDEX [IX_Transactions_MessageId] ON [Transactions] ([MessageId]);
GO


CREATE INDEX [IX_Transactions_PostId] ON [Transactions] ([PostId]);
GO


CREATE INDEX [IX_Transactions_Status] ON [Transactions] ([Status]);
GO


CREATE INDEX [IX_Transactions_SubscriptionId] ON [Transactions] ([SubscriptionId]);
GO


CREATE INDEX [IX_Transactions_TipId] ON [Transactions] ([TipId]);
GO


CREATE INDEX [IX_Transactions_Type] ON [Transactions] ([Type]);
GO


CREATE INDEX [IX_Transactions_UserId] ON [Transactions] ([UserId]);
GO


CREATE INDEX [IX_Transactions_WithdrawalId] ON [Transactions] ([WithdrawalId]);
GO


CREATE INDEX [IX_Users_CreatedAt] ON [Users] ([CreatedAt]);
GO


CREATE UNIQUE INDEX [IX_Users_Email] ON [Users] ([Email]);
GO


CREATE INDEX [IX_Users_IsActive] ON [Users] ([IsActive]);
GO


CREATE INDEX [IX_Users_IsCreator] ON [Users] ([IsCreator]);
GO


CREATE UNIQUE INDEX [IX_Users_Username] ON [Users] ([Username]);
GO


CREATE UNIQUE INDEX [IX_Wallets_UserId] ON [Wallets] ([UserId]);
GO


CREATE INDEX [IX_Withdrawals_CreatedAt] ON [Withdrawals] ([CreatedAt]);
GO


CREATE INDEX [IX_Withdrawals_ProcessedByUserId] ON [Withdrawals] ([ProcessedByUserId]);
GO


CREATE INDEX [IX_Withdrawals_Status] ON [Withdrawals] ([Status]);
GO


CREATE INDEX [IX_Withdrawals_WalletId] ON [Withdrawals] ([WalletId]);
GO



